.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdownItems {
  display:block;
}

.dropdown:hover #dropdownOmOss {
  padding-bottom: 160%;
}

.dropdownItems {
  display: none;
  position: absolute;
  top:160%;
  left:-10%;
  background-color: #5c687e;
  min-width: 130%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#Dropdown > a{
  display: block;
  font-size: 120%;
  padding: 0.5rem 1rem;
}
.dropdownItems a:hover {
  text-shadow:0px 0px 20px white;
  transition: all 0.2s ease-in;
  text-decoration:none;
}

#dropdownOmOss{
  cursor: pointer;
}

.show {
  display: block;
}