#econnectBanner {
  width:100.1%;
}

#econnectGrid {
  display: grid;
  padding: 5rem;
  grid-template-columns: 5fr 4fr ;
  column-gap: 2rem;
}

#econnectLogo{
  width: 50%;
  padding:10%;
}

#econnectLink:link {
  font-size: 1.3vw;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
  background-color: transparent;
  text-decoration: none;
}

#econnectLink:visited {
  font-size: 1.3vw;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
  background-color: transparent;
  text-decoration: none;
}

#econnectLink:hover {
  color:rgba(0, 0, 0, 0.8);
  background-color: transparent;
  text-decoration: underline;
}

#econnectLink:active {
  color: rgba(0, 0, 0, 0.2);
  background-color: transparent;
  text-decoration: underline lightgrey;
}

.econnectOm{
  font-weight:normal;
}

#econnectBottomParagrahp {
  margin-left: 5rem;
  margin-top: -5rem;
}
#econnectBilde {
  width: 100%;
  margin-top: 15%;
  border-radius: 5px;
}

#econnectKontakt {
  margin-left: 5rem;
  padding: 5% 0% 10% 0%;
  }


@media only screen and (max-width: 800px) {
  #econnectGrid {
    grid-template-columns:1fr;
    grid-template-areas:
     "one" 
     "two";
    padding:5rem;
    padding-bottom: 5rem;
    padding-top:0rem;
 }
 #econnectGridOne {
  grid-area: one;
  margin-left:0%;
}

#econnectGridTwo {
  grid-area: two;
  margin-left: 0%;
}

#econnectBottomParagrahp {
  max-width: 100%;
  margin-right:5rem;
  padding-top:2rem;
}

.econnectOm {
  margin-left:0%;
  padding-left:0%;
}

#econnectLogo{
  display:none;
}

#econnectBilde{
  width:70%;
  margin:0rem 2rem 0rem 2rem;
}

} 