#komiteGrid {
  display: grid;
  padding: 5rem;
  grid-template-columns: 5fr 4fr ;
  column-gap: 2rem;

}
@media only screen and (max-width: 800px) {
  #komiteGrid {
    grid-template-columns:1fr;
    grid-template-areas:
     "one" 
     "two";
    padding:5rem;
    padding-bottom: 5rem;
 }}
 #komiteGridOne {
  grid-area: one;
  margin-left:0%;
}

#komiteGridTwo {
  grid-area: two;
  margin-left: 0%;
}

#komiteGridOne #komite_arrbilde{
  margin-top: 30px;
}

