body{
  margin: auto;
  padding: 0;
  height: 100%;
  width: 700px;
  background-color: #ffe6e6;
}

div{
  border-style: dotted;
  border-width: 3px;
  border-color: lightgray;
  width: 700px;
  margin: auto;
}

h3{
  font-family: 'Courier New', Courier, monospace;
  color: black;
}
