/* Generelt - p, h1-6, osv. */

* {
  font-family: Roboto, arial;
}

p {

}

h1 {
  font-style: normal;
  font-size: 95%;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 6%;
 }

/*  */

/*  */

/*  */

/* Setup for body/header/footer spacing */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f5f5f5;
}

#wrapperbody {
  position: relative;                   /* Så footer kan posisjoneres absolute */
  min-height: calc(100% - 180px);        /* Gjør at content på siden bruker hele siden, selv om det ikke er nok til å fylle skjermen. Setter også av plass til footer mha. calc() */
  padding: 0;
  padding-bottom: 180px;                 /* Setter av plass til footer, slik at content ikke overlapper med footer */
}

#js-header {
  background-color: #3A4B69;
  width: 100%;
  height: 90px;
}

footer {
  position: absolute;                   /* Settes til absolute for å kunne bruke bottom: 0; under */
  bottom: 0;                            /* Footer legges helt nederst i boksen */
  height: 180px;
  width: 100%;                          /* Footer skal dekke bredden til skjermen*/
  background-color: #3A4B69;
  width: 100%;
}

#js-footer {
  display: flex;
  height: 100%;
  width:100%;
}

div#content {
  margin: 0 11% 0 11%;
  background-color: white;
}

/* Javascript-headerelementer */

#js-header > * {
  color: white;
}

#js-navbar {
  position: relative;
  height: 100%;
  width: 100%;
}

#js-header-logo {
  height: 80%;
  display: inline-block;
}


#js-header-logoimg {
  height: 100%;

}

#js-header-ul {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline;
}

.js-header-li {
  display: inline;
  list-style: none;
  margin-right: 1em;
}

.js-header-link {
  text-decoration: none;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

/* Javascript-footerelementer */

#js-footer > * {
  color: white;
}

#js-footer-divikon {
  flex: 1;
}

#js-footer-divkontakt {
  flex: 1;
  border-left: 1px solid white;
  border-right: 1px solid white;
}


#js-footer-divadresse {
  flex: 1;
}