Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@hildedha 
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.


2
00Barfrost/prosjektwebtek Private
 Code Issues 0 Pull requests 0 Projects 0 Wiki Security Insights
prosjektwebtek/.gitignore
@kristinelarssen kristinelarssen added gitignore file
a7e39bc 29 minutes ago
33 lines (26 sloc)  560 Bytes
  

# Created by https://www.gitignore.io/api/macos
# Edit at https://www.gitignore.io/?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
